* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #eee9cd;
}
body {
  font-family:Arial,sans-serif;
}

#header-photo {
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  border: solid #373e5e;
}

#header-photo:hover {
  transform: scale(1.1);
}

.big_name {
  text-align: center;
  margin-top: 18px;
  color: #373e5e;
}

.nav-links {
  text-decoration: none;
  color: #373e5e;
  text-transform: capitalize;
  padding: 1.2rem;
}

.nav-links:hover {
  color:white;
}

.navbar {
   font-size: 1.2em;
   width: 100%;
   text-align: center;
   position: sticky;
   top:0;
 }
.main-grid {
  display:grid;
  grid-template-areas:
  'showcase showcase'
  'showcase showcase';
}
ul {
   width: 80%;
   margin: 0 auto;
   padding: 0;
 }
ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: ##373e5e;
  font-size: 25px;
  display: none;
}

@media (max-width:768px)
{
  .toggle {
    display: block;
  }
  ul
  {
    width: 100%;
    display: none;
  }
  ul li
  {
  display: block;
  text-align: center;
  }
  .active
  {
    display: block;
  }
}
