* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family:Arial,sans-serif;
  background-color: #e7e7e3;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.3rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: normal;
}
.background {
  background: url('https://images.pexels.com/photos/872958/pexels-photo-872958.jpeg?cs=srgb&dl=computer-device-electronics-872958.jpg&fm=jpg') center no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1;
}
.background-overlay {
  position:absolute;
  background-color: #f4ebe2;
  opacity: 0.25;
  height: 100%;
  width: 100%;
  z-index: -1 ;
}

#header-photo {
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  border: solid #373e5e;
}

#header-photo:hover{
  transform: scale(1.1) !important;
}
.big_name {
  text-align: center;
  margin-top: 18px;
  color: #373e5e;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.nav-links {
  text-decoration: none;
  color: #373e5e;
  text-transform: capitalize;
  padding: 1.2rem;
  font-family: 'Oswald', cursive;
}

.nav-links:hover {
  color:#2f92d7 !important;
}

.navbar {
   font-size: 1.2em;
   width: 100%;
   text-align: center;
   position: sticky;
   top:0;
   padding: 1.1rem;
 }
 /* CSS GRID */
.wrapper {
  display: grid;
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  margin: 10% 5% 5% 5%;
  grid-template-areas:
  "a a a a a a a a"
  ". . . . b b b b"
  "c c c c b b b b"
  "c c c c . . . ."
  "d d d d d d d d";
}
.who {
  grid-area: a;
}
 .experience {
  grid-area: b;
}
#grid-pic {
  grid-area: c;
  align-self: left;
  background-image: url('https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?cs=srgb&dl=autumn-colorful-colourful-33109.jpg&fm=jpg');
  background-size: cover;
  background-position: center center;
  border: 3px solid black;
}
.contact {
  grid-area: d;
}
/* END GRID */
#abt-header {
  font-family: 'Pacifico', cursive;
  text-align: center;
}
#experience-header {
  font-family: 'Pacifico', cursive;
  text-align: center;
}
#contact-header {
  font-family: 'Pacifico', cursive ;
  text-align: center;
}
ul {
   width: 80%;
   margin: 0 auto;
   padding: 0;
 }
ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: ##373e5e;
  font-size: 25px;
  display: none;
}
table {
  margin: 0 auto;
  border: 3px solid black;
  border-collapse: seperate;
  border-spacing: 1.1em 0;
}
th {
  padding: 10px 0;
}
th a {
  color: black;
}
@media (max-width:768px)
{
  .toggle {
    display: block;
  }
  ul
  {
    width: 100%;
    display: none;
  }
  ul li
  {
  display: block;
  text-align: center;
  }
  .active
  {
    display: block;
  }
  /* CSS GRID */
 .wrapper {
   display: grid;
   grid-gap: 40px;
   grid-auto-rows: minmax(100px, auto);
   margin: 10% 5% 5% 5%;
   grid-template-areas:
   "a"
   "b"
   "c"
   "d";
 }
 .who {
   grid-area: a;
 }
  .experience {
   grid-area: b;
 }
 #grid-pic {
   grid-area: c;
   align-self: left;
   background-image: url('https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?cs=srgb&dl=autumn-colorful-colourful-33109.jpg&fm=jpg');
   background-size: cover;
   background-position: center center;
   border-style: 3px solid black;
 }
 .contact {
   grid-area: d;
 }
 /* END GRID */
}
